<ol class="property-list book">

    <li class="fieldcontain">
        <span id="name-label" class="property-label">Name</span>
        <div class="property-value" aria-labelledby="name-label" id="publisher-name">{{publisher.name}}</div>
    </li>

    <li class="fieldcontain">
        <span id="dateEstablished-label" class="property-label">Date Established</span>
        <div class="property-value" aria-labelledby="dateEstablished-label" id="publisher-dateEstablished">
            {{publisher.dateEstablished | date: 'yyyy'}}
        </div>
    </li>

    <li class="fieldcontain">
        <span *ngIf="publisher.books" id="books-label" class="property-label">Book{{publisher.books.length==1?'':'s'}}</span>
        <div class="property-value" aria-labelledby="books-label" id="publisher-books">
            <ul style="list-style-type: none;">
                <li *ngFor="let book of publisher.books"><a href="/#/book-details/{{book.id}}">{{book.title}} ({{book.dateOfPublication | date: 'yyyy'}})</a> </li>
            </ul>
        </div>
    </li>

    
    <li class="fieldcontain">
        <span *ngIf="publisher.authors" id="authors-label" class="property-label">Author{{publisher.authors.length==1?'':'s'}}</span>
        <div class="property-value" aria-labelledby="authors-label" id="publisher-authors">
            <ul style="list-style-type: none;">
                <li *ngFor="let author of publisher.authors"><a href="/#/author-details/{{author.id}}">{{author.fullName}}</a> </li>
            </ul>
        </div>
    </li>
    

</ol>
